<template>
    <div>
        <div v-show="qty > 0">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="product-img" v-bind:style="{ backgroundImage: 'url(' + item.options.image + ')' }">
                            <img src="/img/transparent.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-xs-9">
                        {{ item.name | product_name }}
                        <br /><span style="color:red">${{ item.price | decimal }}</span> / ${{ subtotal | decimal }}
                        <div class="form-group">
                            <span v-show="comments === null" @click="comments = ''" style="color: blue; text-decoration: underline;">Add Instructions</span>
                            <div v-show="comments !== null">
                                <label>Instructions:</label>
                                <textarea v-model="comments" cols="30" rows="5" class="form-control" v-on:keyup="itemUpdate"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>
                        <input type="checkbox" v-model="substitutions" @change="itemUpdate" /> Allow Substitutions
                    </label>
                </div>
                <div class="col-xs-6">
                    <div class="input-group input-group-xs">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-xs" v-on:click="minusOne">
                                <i class="fa fa-minus fa-fw"></i>
                            </button>
                        </span>
                        <input class="form-control input-sm text-center qty-val" v-model="qty" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-xs cartQty ajaxQty" type="submit" v-on:click="plusOne">
                                <i class="fa fa-plus fa-fw"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</template>

<script>

    import {
        mapActions
    } from 'vuex'

    export default {

        props: ['item'],

        data () {
            return {
                qty: 0,
                subtotal: 0,
                substitutions: 1,
                comments: null,
            }
        },

        filters: {
            decimal (value){
                return numeral(value).format('0.00')
            },
            product_name (value){
                var x = value.replace('null', '');
                var y = x.replace('undefined', '');
                return y;
            }
        },

        methods: {

            ...mapActions([
                'getSubtotal'
            ]),

            plusOne: function () {
                this.qty++;
                this.subtotal = this.qty * this.item.price;
                this.itemUpdate();
            },

            minusOne: function () {
                this.qty--;
                this.subtotal = this.qty * this.item.price;
                this.itemUpdate();
            },

            itemUpdate: _.debounce(function(){
                let currentObj = this;
                axios.post('/shopping-cart/update', {
                    id: this.item.id,
                    name: this.item.name,
                    qty: this.qty,
                    price: this.item.price,
                    dept_code: this.item.options.dept_code,
                    image: this.item.options.image,
                    scale_flag: this.item.options.scale_flag,
                    allow_substitutions: this.substitutions,
                    comments: this.comments,
                    custom_item: this.item.options.custom_item
                }).then(response => {
                    currentObj.$store.dispatch('getSubtotal');
                });
            }, 500),

            setValues(){
                this.qty = this.item.qty;
                this.subtotal = this.item.qty * this.item.price;
                this.substitutions = this.item.options.allow_substitutions;
                if(this.item.options.comments !== undefined)
                {
                    this.comments = this.item.options.comments;
                }
            }

        },

        mounted ()
        {
            this.setValues()
        }
    }

</script>
