<template>
    <div>
        <div class="form-group">
            <label>Comments</label>
            <textarea v-model="comments" cols="30" rows="5" class="form-control payment-form-field"></textarea>
        </div>

        <form id="payment-form" v-on:submit="confirmCardPayment">
            <div class="form-group">
                <label>Credit Card Details</label>
                <div id="card-element" class="form-control">
                    <!-- Elements will create input elements here -->
                </div>
            </div>

            <!-- We'll put the error messages in this element -->
            <div id="card-errors" role="alert"></div>

            <button class="btn-lg btn-primary btn-block" id="submit"><img v-if="this.loading !== null" width="15" src="/img/loader.svg" /> Pay</button>
        </form>
    </div>
</template>

<script>
    export default {

        created(){
            this.stripe = Stripe(this.stripekey);
        },

        mounted() {
            this.elementsCreate();
            this.cardCreate();
            this.createPaymentIntent();
        },

        data: () => ({
            loading: null,
            paymentIntent: null,
            stripe: null,
            elements: null,
            card: null,
            style: {
                base: {
                    color: '#303238',
                    fontSize: '16px',
                    fontFamily: '"Open Sans", sans-serif',
                    fontSmoothing: 'antialiased',
                    '::placeholder': {
                        color: '#CFD7DF',
                    },
                },
                invalid: {
                    color: '#e5424d',
                    ':focus': {
                        color: '#303238',
                    },
                },
            },
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            comments: '',
        }),

        props: ['stripekey'],

        methods: {
            createPaymentIntent: function(){
                axios.post('/stripe/create-payment-intent')
                    .then(response => {
                        this.paymentIntent = response.data;
                    });
            },
            elementsCreate: function(){
                this.elements = this.stripe.elements();
            },
            cardCreate: function(){
                this.card = this.elements.create('card', { style: this.style });
                this.card.mount('#card-element');
            },
            confirmCardPayment: function(e){
                e.preventDefault();
                let Obj = this;
                this.loading = 1;
                this.stripe.confirmCardPayment(this.paymentIntent.client_secret, {
                    payment_method: {
                        card: this.card,
                        billing_details: {

                        }
                    }
                }).then(function(result) {
                    if (result.error) {
                        // Show error to your customer (e.g., insufficient funds)
                        document.querySelector("#card-errors").textContent = result.error ? result.error.message : "";
                        Obj.loading = null;
                    } else {
                        // The payment has been processed!
                        if (result.paymentIntent.status === 'requires_capture') {
                            // Show a success message to your customer
                            // There's a risk of the customer closing the window before callback
                            // execution. Set up a webhook or plugin to listen for the
                            // payment_intent.succeeded event that handles any business critical
                            // post-payment actions.
                            axios.post('/cart/payment', {
                                '_token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                                'comments': Obj.comments,
                            })
                            .then(function(response){
                                window.location.href = '/thankyou/' + response.data.id;
                            });
                        }
                    }
                });
            }
        }
    }

</script>
