<template>
    <div>
        <div class="modal fade" id="custom-item-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <form id="add-custom" action="" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Add Custom Item</h4>
                        </div>
                        <div class="modal-body">
                            <div v-if="errors !== null" class="alert alert-danger">
                                {{ errors.message }}
                                <ul>
                                    <li v-for="error in errors.errors">{{ error }}</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label>Item Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Enter brand and product name..." v-model="name" required >
                            </div>
                            <div class="form-group">
                                <label>Estimated Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="currency" id="price" class="form-control" name="price" value="" maxlength="6" placeholder="0.00" v-model="price" required >
                                </div>
                                <label>Please provide your best guess for the price of the item.</label>
                            </div>
                            <div class="form-group">
                                <label>Quantity</label>
                                <input type="number" class="form-control text-center" v-model="qty">
                            </div>
                            <div class="form-group">
                                <label>Comments</label>
                                <textarea name="comments" id="comments" cols="30" rows="10" class="form-control" v-model="comments" ></textarea>
                            </div>
                            <div class="form-group">
                                <div v-if="loading === true" class="text-center">
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4">
                                            <div class="form-group">
                                                <img src="/img/loading.gif" class="img-responsive" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button @click="addProduct" type="button" class="btn btn-default btn-block">
                                    <i class="fa fa-cart-plus"></i> Add To Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                name: '',
                qty: 1,
                price: '',
                comments: '',
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                loading: false,
                errors: null
            };
        },

        methods: {
            display(){
                $('#custom-item-modal').modal('show');
            },
            addProduct(){
                let Obj = this;
                Obj.loading = true;
                axios.post('/shopping-cart/update', {
                    name: Obj.name,
                    qty: Obj.qty,
                    price: Obj.price,
                    comments: Obj.comments,
                    custom_item: 1,
                    _token: Obj.csrf
                }).then(response => {
                    Obj.$store.dispatch('getSubtotal');
                    $('#custom-item-modal').modal('hide');
                    Obj.name = '';
                    Obj.qty = 1;
                    Obj.price = '';
                    Obj.comments = '';
                    console.log(response);
                    Obj.loading = false
                }).catch(e => {
                    Obj.errors = e.response.data;
                    Obj.loading = false;
                })
            }
        }
    }
</script>