<template>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
        <div class="product-box">
            <div class="product-promo">
                <span v-if="this.p.sale_price > 0" class="label label-danger" style="line-height: 2.5">SALE</span>
            </div>
            <div class="product-description">
                <span class="favorite" title="Add to Favorites">
                    <i @click="favoriteToggle" v-show="!isFavorite" class="fa fa-heart-o"></i>
                    <i @click="favoriteToggle" v-show="isFavorite" class="fa fa-heart"></i>
                </span>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="product-img" v-bind:style="{ backgroundImage: 'url(' + p.image + ')' }">
                            <img @click="openModal" src="/img/transparent.png" class="img-responsive">

                            <!-- Modal -->
                            <div class="modal fade" v-bind:id="p.upc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                {{ p.brand_name }}
                                                <br v-if="p.brand_name !== null" />{{ p.name }}
                                                <br /><small>{{ p.size }}</small>
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <img :src="p.image" class="img-responsive" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-name">
                    <span class="text-red">{{ price | decimal }}</span>
                    <span v-show="p.sale_price > 0" class="text-black" style="text-decoration: line-through;">{{ regularPrice | decimal }}</span>
                    <br/>
                    <span v-if="p.brand_name !== ''"><b>{{ p.brand_name }}</b><br/></span>
                    {{ p.name }}<br/>
                    <span class="text-muted" style="font-size: .8em">{{ p.size }}</span>
                    <span class="text-muted" style="font-size: .8em" v-if="p.scale_flag === '1'">
                        <br/><i class="fa fa-balance-scale" aria-hidden="true"></i> Final Cost Based On Weight
                    </span>
                </div>

            </div>
            <div class="add-btn">
                <i v-show="qty > 0" v-on:click="minusOne" class="fa fa-minus-circle fa-2x"></i>
                <span v-if="qty > 0">{{ qty }}</span>
                <i v-on:click="addToCart" class="fa fa-plus-circle fa-2x"></i>
            </div>
        </div>
    </div>
</template>

<script>

    import {
        mapGetters
    } from 'vuex'

    export default {

        data: function () {
            return {
                qty: 0,
                item: null,
                favorite: false,
            };
        },

        props: ['product', 'user'],

        computed: {
            p: function () {
                return this.product;
            },

            price: function()
            {
                let salePrice = parseFloat(this.p.regular_price);

                if( this.p.sale_price > 0 )
                {
                    let saleQty = this.p.sale_qty === 0 ? 1 : this.p.sale_qty
                    salePrice = this.p.sale_price / saleQty
                }

                // Sale Price With Markup
                // return salePrice + (salePrice * 0.07)

                // Sale Price Without Markup
                return salePrice
            },

            regularPrice(){

                let retail = parseFloat(this.p.regular_price)
                return retail + (retail * 0.07)

            },

            ...mapGetters([
                'favorites',
                'cart',
            ]),

            isFavorite() {
                return this.$store.getters.isFavorite(this.p.upc)
            },

            isInCart()
            {
                return this.$store.getters.isInCart(this.p.upc)
            },
        },

        methods: {

            addToCart()
            {
              this.qty++;
              this.update();
            },

            minusOne() {
                this.qty--;
                this.update();
            },

            update: _.debounce(function(){
                let obj = this;
                axios.post('/shopping-cart/update', {
                    id: this.p.upc,
                    name: this.p.brand_name + ' ' + this.p.name + ' ' + this.p.size,
                    qty: this.qty,
                    price: this.price,
                    dept_code: this.p.dept_code,
                    image: this.p.image,
                    scale_flag: this.p.scale_flag,
                    custom_item: 0
                })
                .then(response => {
                    obj.$store.dispatch('getSubtotal');
                });
            }, 500),

            favoriteToggle(){
                this.$store.commit('toggleFavorites', {
                    upc: this.p.upc
                })
            },

            openModal()
            {
                $('#' + this.p.upc).modal('show');
            }

        },

        watch: {
            isInCart() {
                this.qty = this.isInCart.qty
            }
        },

        filters: {
            decimal (value){
                return numeral(value).format('0.00')
            },
        },

        mounted() {
            // console.log(this.p);
        }

    }
</script>