// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

$green: #F5C300;
$green-hover: #dbab00;
$red: #c3002f;
$red-hover: #a80027;
$blue: #2fb457;
$blue-hover: #29994a;
$darkgrey: #222222;
$gold: #F5C300;
$gold-hover: #dbab00;
$textshadow: -2px 1px 1px rgba(0, 0, 0, 1);

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-green {
  color: $green;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
  min-height: 100%;
  overflow-x: hidden;
}

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000000;

  img {
    position: relative;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: -1000;
}

a{
  color: $darkgrey;
}

a:hover, a:active, a:focus { 
  color: $darkgrey;
  text-decoration: underline;
}

.label-default { 
  background-color: $green;
  color: $darkgrey;
}

.label-info {
  background-color: $blue;
}

.label-warning {
  background-color: $blue;
}

.btn-default{
  background-color: $green;
  border-color: $green;
  transition: all 0.3s ease-out;
}

.btn-default:focus,
.btn-default.focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus {
  background-color: $green-hover;
  border-color: $green-hover;
}

.btn-primary{
  background-color: #8c8c8c;
  border-color: #8c8c8c;
  transition: all 0.3s ease-out;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus {
  background-color: #6d6d6d;
  border-color: #6d6d6d;
}

.btn-info{
  background-color: $blue;
  border-color: $blue;
  transition: all 0.3s ease-out;
}

.btn-info:focus,
.btn-info.focus,
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info:active:focus,
.btn-info.active:focus {
  background-color: $blue-hover;
  border-color: $blue-hover;
}

.btn-warning{
  background-color: $blue;
  border-color: $blue;
  transition: all 0.3s ease-out;
}

.btn-warning:focus,
.btn-warning.focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning:active:focus,
.btn-warning.active:focus {
  background-color: $blue-hover;
  border-color: $blue-hover;
}

.panel-default{

  .panel-heading{
    font-weight: bold;
  }
}

.panel-primary { 
    border-color: $blue;
}

.panel-primary > .panel-heading { 
    background-color: $blue;
    border-color: $blue;
}

nav > .pagination {
  padding: 0;
  margin: -5px 0 5px 0;
}

.pagination > li > a {
  background-color: $blue;
  border-color: $blue-hover;
  color: white;
}

.pagination > li > a:hover {
  background-color: $blue-hover;
  border-color: $blue;
  color: #f5f5f5;
}

.pagination > li > a:focus {
  color: #f5f5f5;
}

.pagination > .active > a {
  background-color: $blue;
  border-color: $blue;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: $blue-hover;
  border-color: $blue-hover;
}

.pagination > .disabled > a {
  color: #ccc;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

.carousel-caption {
  bottom: -15px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control {
  width: 4%;
}

#app{
  background: url('../img/bg-shopping.jpg') bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 0;
  min-height: 100vh;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}

#app.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $darkgrey;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#app.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#app.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.icon-right {
  float: right;
  line-height: 40px;
  vertical-align: middle;
  padding-right: 15px;
}

#accordion .panel {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: $darkgrey;
}

header{
  margin: 15px 0 15px 0;
}
.navleft {
  margin-left: -15px;
}
.dropdown-menu {
  background-color: $darkgrey;
}

.dropdown-menu > li > a {
  color: #999999 !important;
}

.dropdown-menu > .active > a {
  background-color: $green-hover !important;
  color: #fff !important;
}

.dropdown-menu > li > a:hover {
  background-color: black;
  color: #fff !important;
}

.top-cart {
  height: 100%;
  transition: all 0.3s ease-out;
}
.top-cart:hover {
  background-color: #333;
  cursor: pointer;
}
.top-cart a {
  color: $green !important;
  font-size: 1.5em;
  text-shadow: $textshadow;
}

.panel-cart {
  border: 1px solid $green !important;
  border-radius: 0;
  .panel-heading {
    background-color: $green;
    border-radius: 0;
  }
}

#cart-body {
  font-size: .9em;
}

.cart-total {
  padding-left: 5px;
  padding-right: 5px;
  background-color: $darkgrey;
  border: 1px solid #555;
  font-size: .6em;
  margin-top: 8px;
  margin-left: 25px;
  position: absolute;
  z-index: 9999;
}

.cart-total-xs {
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  margin-top: -7px;
  margin-left: 7px;
  background-color: $darkgrey;
  border: 1px solid #555;
  font-size: .5em;
}

.pickup-callout {
  width: 485px;
  font-size: .8em;
  padding: 5px;
  margin: 8px 0 0 0;
  color: #f5f5f5;
}

.pickup-callout h4 {
  font-size: 1em;
  color: $blue;
  margin: 0 0 -15px 0;
  padding: 0;
}

#pickup_loc:hover {
  cursor: pointer;
  color: #dbdbdb;
  h4 { color: $blue-hover }
}

.alert-danger-link {
  cursor: pointer;
  color: $red;
  text-decoration: underline;
}

.alert-danger-link:hover, .alert-danger-link:focus {
  color: $red-hover;
}

.product-box{
  border: solid 1px #eee;
  padding: 5px;
  margin-bottom: 15px;

  img{
    z-index: 5;
    horiz-align: left;
  }

  .product-name{
    color: $darkgrey;
    line-height: 1.1 !important;
    font-size: .8em;
    height: 50px;
    margin-top: 5px;

    a{
      color: $darkgrey;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .product-price{
    text-align: center;
    background: $green;
    color: $darkgrey;
    padding: 5px 10px 5px 10px;
    border-radius: 0 4px 4px 0;
    margin-bottom: 5px;
    margin-top: -70px;
    margin-left: -6px;
    font-size: 2em;
    font-weight: bold;
    z-index: 6;
    position: absolute;
  }

}

.product-promo {
  position: absolute;
  top: -5px;
  right: 22px;
  font-size: 1.2em;
  .label {
    border-radius: 0 0 4px 4px;
  }
}

.product-sale-qty {
  position: absolute;
  background-color: #CA5C55;
  color: white;
  margin-top: -95px;
  width: 65px;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 4px;
  padding: 0 5px 5px 5px;
  z-index: 5;
}

.product-scale {
  position: absolute;
  margin-top: -73px;
  z-index: 7;
  text-align: center;
}

.product-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 80%;
}

.product-add .input-group button{
  width: 100%;
}

.panel-product{
  border-top: solid 3px $green !important;
  font-size: .8em;

  a {
    color: $darkgrey;
    font-weight: bold;
  }
}

.favorite {
  position: absolute;
  background-color: #eee;
  border-radius: 4px 0 4px 0;
  color: $red;
  font-size: 1em;
  padding: 2px 5px;
  top: 0;
  left: 15px;
  cursor: pointer;
}

.favorite-xs {
  margin-left: -15px;
}

@media(max-width:767px) {
  .favorite {
    left: 10px;
  }
  .favorite-xs {
    left: 15px;
  }
}

footer {
  bottom: 0;
  background: #f5f5f5;
  padding: 15px 0 15px 0;
}

.mobile-cart-footer {
  position: fixed;
  background-color: $darkgrey;
  color: $green;
  font-size: 1.2em;
  text-shadow: $textshadow;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: center;
  display: none;
  z-index: 9999;

  a {
    color: $green;
    cursor: pointer;
    text-decoration: none;
  }
}

.btn-cart-xs {
  border: 1px solid #111;
  height: 50px;
  width: 75px;
  padding: 10px;
  border-radius: 4px;
  background: #333;
  background: -webkit-linear-gradient(#333, #222);
  background: -o-linear-gradient(#333, #222);
  background: -moz-linear-gradient(#333, #222);
  background: linear-gradient(#333, #222);
}
.btn-cart-xs:active, .btn-cart-xs:focus {
  background: #222;
  background: -webkit-linear-gradient(#222, #333);
  background: -o-linear-gradient(#222, #333);
  background: -moz-linear-gradient(#222, #333);
  background: linear-gradient(#222, #333);
}

#mobile-cart {
  position: fixed;
  top: 0;
  width: 250px;
  right: -250px;
  height: 100%;
  z-index: 10000;
  margin-bottom: 50px;
  overflow: scroll;

  .panel-body {
    font-size: .8em;
    border-radius: 0;
  }
}

.popover-title {
  color: $darkgrey;
  font-size: 1.1em;
}
.popover-content {
  color: $darkgrey;
  font-size: .8em;
}
.disclaimer {
  font-size: .8em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.midgroup-btn {
  border-radius: 0;
  border-left: 0 none transparent;
}

.add-custom {
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

dt {
  font-size: 14px;
}
dd {
  font-size: 12px;
}
dt.border-top {
  padding-top: 5px;
  border-top: 1px solid #eee
}
.gi-toggle {
  width: 100%;
  text-align: center;
  height: 0;
}
#gi-toggle {
  font-size: 8px;
  position: relative;
  top: -12px;
  border-radius: 50px;
  box-shadow: 0px 2px 1px grey;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  cursor: pointer;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #BBB;
  transition: all 0.3s ease-out;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

ul.sidebar-sub-menu { 
  font-size: 11px;
  margin-left: -40px;
  background-color: #1c1c1c;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;  
}

.sidebar-sub-menu li { 
  list-style-type: none;
  margin-left: 0px;
}

/* Shipt Delivery */

.shipt-del {
  width: 75%;
  margin: auto;
  padding-top: 5px;
}
.shipt-del-or {
  position: relative;
  top: -30px;
  left: 44%;
  background-color: white;
  color: #ccc;
}
.shipt-logo {
  width: 150px;
}
.shipt-eligible {
  padding: 5px 0 5px 0;
}
.zip-search {
  width: 125px;
  float: left;
}
.zip-lookup {
  float: left;
  margin-left: 15px;
  margin-top: 2px
}
.zip-response {
  clear: both;
  padding-top: 5px;
}
.zip-response a {
  color: darkgreen;
  text-decoration: underline;
}

/* Lightbox Styles */

.mfp-no-margins img.mfp-img {
  padding: 0;
}
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
.mfp-no-margins .mfp-container {
  padding: 0;
}
.mfp-wrap {
  z-index: 1051;
}
.mfp-bg {
  opacity: 0;
}

/* Scroll to top affix */

#top-link-block {
  display: none;
  position: fixed;
  bottom: 63px;
  right: 2px;
  z-index: 500;
  opacity: 0.7;

  a {
    color: $blue-hover;
  }
}

#top-link-block .well {
  border-radius: 4px;
}

.logo {
  max-width: 150px;
}

// Styles specific for ipad / mobile

@media(max-width: 991px) {
  .logo {
    padding-top: 10px;
  }
  .checkout-total {
    font-size: .8em;
    margin-left: -15px;
    margin-right: -15px;
  }
  .disclaimer {
    font-size: .7em;
  }
  .lightbox img {
    margin-bottom: -50px;
  }
  .pickup-callout {
    width: 100%;
    font-size: 1em;
    color: $darkgrey;
    padding: 5px;
    margin: 10px 0 0 0;
  }
  .pickup-callout h4 {
    font-size: 1.2em;
    color: $blue;
    margin: 0 0 -15px 0;
    padding: 0 0 5px 0;
  }
  #mobile-cart-trigger {
    height: 50px;
  }
}

// Mobile Only

@media(max-width:767px) {
  body {
    margin-bottom: 0;
  }
  .logo {
    max-width: 125px;
  }
  .pickup-callout {
    font-size: .7em;
    h4 {
      font-size: 1em;
    }
  }
  nav > .pagination {
    padding: 0;
    margin: -5px -5px 5px 0;
  }
  .product-img {
    width: 40%;
    min-height: 100px;
    float: left;
  }
  .product-price {
    position: absolute;
    top: 203px;
  }
  .product-promo {
    font-size: 1.1em;
    right: 15px;
  }
  .product-sale-qty {
    margin-top: 108px;
    width: 60px;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 5px 5px 5px;
  }
  .product-scale {
    position: absolute;
    margin-top: 87px;
    right: 18px;
  }
  .product-box {
    text-align: left;
    height: 100%;
    margin-left: -5px;
    margin-right: -5px;
  }
  .product-box img {
    width: 40%;
    float: left;
    padding-right: 5px;
  }
  .product-description {
    width: 100%;
    float: right;
    font-size: .8em;
  }
  .product-add {
    padding-left: 40%;
  }
  .product-name {
    float: right;
    width: 60%;
    min-height: 75px;
    padding: 10px 0 0 5px;
    font-size: 1em !important;
  }
  .product-box .input-group {
    padding-top: 10px;
    clear: both;
  }
}

// Styles specific for non-mobile

@media(min-width:992px) {
  #app {
    padding-left: 0;
  }
  #app.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #app.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    position: relative;
  }
  #app.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

// Animations

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

#notifications {
  cursor: pointer;
  position: fixed;
  right: 5px;
  z-index: 9999;
  top: 5px;
  width: 90%;
  margin: 0 auto;
  max-width: 300px;
}

.sb-control {
  display: none;
}

.Stripe-box{

  .stripe-button-el{
    width: 100%;
  }
}

.autocomplete {
  z-index: 1000;
  position: absolute;
  top:30px;
  width:100%;
  overflow-x: hidden;
}