// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

$green: #41ad49;
$green-hover: #aaba00;
$red: #AD172B;
$red-hover: #911425;
$blue: #41ad49;
$blue-hover: #95acaf;
$darkgrey: #222222;
$gold: #F5C300;
$gold-hover: #dbab00;
$textshadow: -2px 1px 1px rgba(0, 0, 0, 1);

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-green {
  color: $green;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Heebo', sans-serif;
  padding-bottom: 40px;
}

.admin-container{
  padding-top: 75px;
}

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000000;

  img {
    position: relative;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
  }
}

a{
  color: $darkgrey;
}

a:hover, a:active, a:focus { 
  color: $darkgrey;
  text-decoration: underline;
}

.navbar-app{
  margin-bottom: 0;
}

.panel-primary { 
    border-color: $blue;
}

.panel-primary > .panel-heading { 
    background-color: $blue;
    border-color: $blue;
}

nav > .pagination {
  padding: 0;
  margin: -5px 0 5px 0;
}

.pagination > li > a {
  background-color: $blue;
  border-color: $blue-hover;
  color: white;
}

.pagination > li > a:hover {
  background-color: $blue-hover;
  border-color: $blue;
  color: #f5f5f5;
}

.pagination > li > a:focus {
  color: $blue-hover;
}

.pagination > .active > a {
  background-color: $blue;
  border-color: $blue;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: $blue-hover;
  border-color: $blue-hover;
}

.pagination > .disabled > a {
  color: #ccc;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

.carousel-caption {
  bottom: -15px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control {
  width: 4%;
}

.sidebar-wrapper {
  z-index: 2000;
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  background: black;

  i{
    color: white;
  }

  ul{
    margin: 0;
    padding: 0;

    li{
      list-style: none;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px #c8c8c8;

      ul{
        margin-top: 10px;

        li{
          background: gray;
          padding-left: 10px;
          border-bottom: solid 1px white;
        }
      }

      a{
        text-transform: uppercase;
        text-decoration: none;
        color: white;
      }
    }
  }
}

.icon-right {
  float: right;
  line-height: 40px;
  vertical-align: middle;
  padding-right: 15px;
}

#accordion .panel {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.navleft {
  margin-left: -15px;
}
.dropdown-menu {
  background-color: $darkgrey;
}

.dropdown-menu > li > a {
  color: #999999 !important;
}

.dropdown-menu > .active > a {
  background-color: $green-hover !important;
  color: #fff !important;
}

.dropdown-menu > li > a:hover {
  background-color: black;
  color: #fff !important;
}

.top-cart {
  height: 100%;
  transition: all 0.3s ease-out;
}
.top-cart:hover {
  background-color: #333;
  cursor: pointer;
}
.top-cart a {
  color: $green !important;
  font-size: 1.5em;
  text-shadow: $textshadow;
}

.panel-cart {
  border: 1px solid $green !important;
  border-radius: 0;
  .panel-heading {
    border-radius: 0;
  }
}

#cart-body {
  font-size: .9em;
}

.cart-total {
  background-color: $red;
}

.cart-total-xs {
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  margin-top: -7px;
  margin-left: 7px;
  background-color: $darkgrey;
  border: 1px solid #555;
  font-size: .5em;
}

.pickup-callout {
  width: 485px;
  font-size: .8em;
  padding: 5px;
  margin: 8px 0 0 0;
  color: #f5f5f5;
}

.pickup-callout h4 {
  font-size: 1em;
  color: $blue;
  margin: 0 0 -15px 0;
  padding: 0;
}

#pickup_loc:hover {
  cursor: pointer;
  color: #dbdbdb;
  h4 { color: $blue-hover }
}

.alert-danger-link {
  cursor: pointer;
  color: $red;
  text-decoration: underline;
}

.alert-danger-link:hover, .alert-danger-link:focus {
  color: $red-hover;
}

.product-box{
  position: relative;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,.3);
  box-shadow: 0px 0px 5px 0px rgba(204,204,204,.3);
  border-radius: 4px;
  margin: 5px;
  height: 200px;
  overflow: hidden;

  img{
    z-index: 5;
    horiz-align: left;
  }

  .product-name{
    color: $darkgrey;
    line-height: 1.1 !important;
    font-size: .8em;
    height: 50px;
    margin-top: 5px;

    a{
      color: $darkgrey;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .product-price{
    text-align: center;
    background: $green;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: bold;
    z-index: 6;
    position: absolute;
    top: 25px;
    right: 0;

    @media screen and (max-width: 767px)
    {
      top: unset;
      right: unset;
      bottom: 15px;
      left: 0;
    }
  }

  .add-btn{
    position: absolute;
    bottom: 0px;
    right: 10px;
    background: white;
    padding: 3px;

    span{
      font-size: 2em;
    }

  }

}

.product-promo {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 1em;
  z-index: 998;

  .label {
    border-radius: 0 0 4px 4px;
  }
}

.product-sale-qty {
  position: absolute;
  background-color: #CA5C55;
  color: white;
  margin-top: -95px;
  width: 65px;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 4px;
  padding: 0 5px 5px 5px;
  z-index: 5;
}

.product-scale {
  position: absolute;
  margin-top: -73px;
  z-index: 7;
  text-align: center;
}

.product-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 80%;
}

.product-add .input-group button{
  width: 100%;
}

.panel-product{
  border-top: solid 3px $green !important;
  font-size: .8em;

  a {
    color: $darkgrey;
    font-weight: bold;
  }
}

.favorite {
  position: absolute;
  border-radius: 4px 0 4px 0;
  color: $red;
  font-size: 1em;
  padding: 2px 5px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.favorite-xs {
  margin-left: 0;
}

footer {
  bottom: 0;
  background: #f5f5f5;
  padding: 15px 0 15px 0;
}

.mobile-cart-footer {
  position: fixed;
  background-color: $darkgrey;
  color: $green;
  font-size: 1.2em;
  text-shadow: $textshadow;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: center;
  display: none;
  z-index: 9999;

  a {
    color: $green;
    cursor: pointer;
    text-decoration: none;
  }
}

.btn-cart-xs {
  border: 1px solid #111;
  height: 50px;
  width: 75px;
  padding: 10px;
  border-radius: 4px;
  background: #333;
  background: -webkit-linear-gradient(#333, #222);
  background: -o-linear-gradient(#333, #222);
  background: -moz-linear-gradient(#333, #222);
  background: linear-gradient(#333, #222);
}
.btn-cart-xs:active, .btn-cart-xs:focus {
  background: #222;
  background: -webkit-linear-gradient(#222, #333);
  background: -o-linear-gradient(#222, #333);
  background: -moz-linear-gradient(#222, #333);
  background: linear-gradient(#222, #333);
}

#mobile-cart {
  position: fixed;
  top: 0;
  width: 250px;
  right: -250px;
  height: 100%;
  z-index: 10000;
  margin-bottom: 50px;
  overflow: scroll;

  .panel-body {
    font-size: .8em;
    border-radius: 0;
  }
}

.popover-title {
  color: $darkgrey;
  font-size: 1.1em;
}
.popover-content {
  color: $darkgrey;
  font-size: .8em;
}
.disclaimer {
  font-size: .8em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.midgroup-btn {
  border-radius: 0;
  border-left: 0 none transparent;
}

.add-custom {
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

dt {
  font-size: 14px;
}
dd {
  font-size: 12px;
}
dt.border-top {
  padding-top: 5px;
  border-top: 1px solid #eee
}
.gi-toggle {
  width: 100%;
  text-align: center;
  height: 0;
}
#gi-toggle {
  font-size: 8px;
  position: relative;
  top: -12px;
  border-radius: 50px;
  box-shadow: 0px 2px 1px grey;
}

/* Shipt Delivery */

.shipt-del {
  width: 75%;
  margin: auto;
  padding-top: 5px;
}
.shipt-del-or {
  position: relative;
  top: -30px;
  left: 44%;
  background-color: white;
  color: #ccc;
}
.shipt-logo {
  width: 150px;
}
.shipt-eligible {
  padding: 5px 0 5px 0;
}
.zip-search {
  width: 125px;
  float: left;
}
.zip-lookup {
  float: left;
  margin-left: 15px;
  margin-top: 2px
}
.zip-response {
  clear: both;
  padding-top: 5px;
}
.zip-response a {
  color: darkgreen;
  text-decoration: underline;
}

/* Lightbox Styles */

.mfp-no-margins img.mfp-img {
  padding: 0;
}
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
.mfp-no-margins .mfp-container {
  padding: 0;
}
.mfp-wrap {
  z-index: 1051;
}
.mfp-bg {
  opacity: 0;
}

/* Scroll to top affix */

#top-link-block {
  display: none;
  position: fixed;
  bottom: 63px;
  right: 2px;
  z-index: 500;
  opacity: 0.7;

  a {
    color: $blue-hover;
  }
}

#top-link-block .well {
  border-radius: 4px;
}

// Styles specific for ipad / mobile

@media(max-width: 991px) {
  .logo {
    padding-top: 10px;
  }
  .checkout-total {
    font-size: .8em;
    margin-left: -15px;
    margin-right: -15px;
  }
  .disclaimer {
    font-size: .7em;
  }
  .lightbox img {
    margin-bottom: -50px;
  }
  .pickup-callout {
    width: 100%;
    font-size: 1em;
    color: $darkgrey;
    padding: 5px;
    margin: 10px 0 0 0;
  }
  .pickup-callout h4 {
    font-size: 1.4em;
    color: $blue;
    margin: 0 0 -15px 0;
    padding: 0 0 5px 0;
  }
  #mobile-cart-trigger {
    height: 50px;
  }
}

// Mobile Only

@media(max-width:767px) {
  body {
    margin-bottom: 0;
  }
  .logo {
    max-width: 125px;
  }
  .pickup-callout {
    font-size: .7em;
    h4 {
      font-size: 1em;
    }
  }
  nav > .pagination {
    padding: 0;
    margin: -5px -5px 5px 0;
  }
  .product-price {
    position: absolute;
    top: 203px;
  }
  .product-promo {
    font-size: 1.1em;
    right: 15px;
  }
  .product-sale-qty {
    margin-top: 108px;
    width: 60px;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 5px 5px 5px;
  }
  .product-scale {
    position: absolute;
    margin-top: 87px;
    right: 18px;
  }
  .product-box .input-group {
    padding-top: 10px;
    clear: both;
  }
}

// Animations

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

#notifications {
  cursor: pointer;
  position: fixed;
  right: 5px;
  z-index: 9999;
  top: 5px;
  width: 90%;
  margin: 0 auto;
  max-width: 300px;
}

.sb-control {
  display: none;
}

.Stripe-box{

  .stripe-button-el{
    width: 100%;
  }
}

.autocomplete {
  z-index: 1000;
  position: absolute;
  top:30px;
  width:100%;
  overflow-x: hidden;
}

#login-header{
  background-image: url(/img/register-bg.jpg);
  background-color: $green;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-bottom: 250px;

  @media screen and (max-width: 480px)
  {
    padding-top: 50px;
    padding-bottom: 150px;
  }
}

#login-bottom{
  padding-top: 150px;
  padding-bottom: 150px;

  @media screen and (max-width: 480px) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.register-bg{
  padding-top: 50px !important;
}

.main-container{
  //margin-top: 15px;
}

#topbar{
  width: 100%;
  height: 50px;
  background: white;
  position: fixed;
  z-index: 999;

  .hamburger{
    float: left;
    width: 50px;
    height: 50px;
    padding-top: 5px;
  }

  .top-logo{
    float:left;
    height: 50px;
    padding-left: 15px;

    img{
      height: 50px;
    }
  }

  .top-search{
    float: right;
    padding: 10px;
    border-left: solid 1px white;
    border-right: solid 1px white;
    width: 50px;
    text-align: center;
  }

  .top-shopping-cart{
    float: right;
    padding: 10px;

    a{
      position: relative;
      margin-right: 15px;

      span{
        position: absolute;
        right: -15px;
        top: -15px;
        background: $red;
      }
    }
  }

  @media screen and (min-width: 767px)
  {
    display: none;
  }
}

#top-search{
  padding: 10px;
  display: none;
  z-index: 999;
  position: fixed;
  top: 50px;
  background: white;
  border-bottom: solid 1px black;
}

.table{
  font-size: 0.9em;
}
th{
  text-transform: uppercase;
  text-align: center;
}

.grecaptcha-badge{visibility:hidden}

.slide-enter-active, .slide-leave-active {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.logo-block{
  background: url(/img/logo-top-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 15px;
  padding-bottom: 15px;

  img{
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-color: white !important;
    width: 140px !important;
    margin: 0 auto !important;

    @media screen and (max-width: 767px)
    {
      width: 90px !important;
    }
  }

  @media screen and (max-width: 767px)
  {
    padding-top: 65px;
  }
}

.your-store{
  background: #f5f5f5;
  text-transform: uppercase;
  font-size: .8em;
  text-align: center;
  padding: 3px;
}