@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
a {
  color: #C3D600; }

.btn-default {
  background-color: #C3D600;
  border-color: #C3D600; }

.btn-primary {
  background-color: #AD172B;
  border-color: #AD172B; }

.panel-default .panel-heading {
  font-weight: bold; }

#app {
  background: url("../img/bg-shopping.jpg") bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain; }

header {
  margin: 15px 0 15px 0; }

.top-cart {
  background: #000;
  color: #C3D600;
  width: 200px;
  padding: 15px;
  border-radius: 6px;
  float: right;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 30px; }

.product-box {
  border: solid 1px black;
  margin-bottom: 15px; }
  .product-box img {
    z-index: 5; }
  .product-box .product-name {
    color: black;
    font-weight: bold;
    text-align: center !important;
    line-height: 1.1 !important;
    font-size: .9em;
    height: 50px;
    margin-top: 5px; }
    .product-box .product-name a {
      color: black;
      text-decoration: underline; }
  .product-box .product-price {
    text-align: center;
    background: #C3D600;
    color: black;
    padding: 10px;
    border-radius: 0 4px 4px 0;
    margin-bottom: 5px;
    margin-top: -75px;
    font-size: 2em;
    font-weight: bold;
    z-index: 1000;
    position: absolute; }
  .product-box .product-description {
    margin: 5px; }

.panel-product {
  border-top: solid 3px #C3D600 !important;
  padding-top: 25px; }
  .panel-product a {
    color: black;
    font-weight: bold; }

footer {
  background: #f5f5f5;
  padding: 15px 0 15px 0; }

/*# sourceMappingURL=app.css.map */
